*.class
*.log
*~

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE
.scala_dependencies
.classpath
.project
.cache
.settings

# IntelliJ
.idea/
.idea_modules/

# Metals
.metals
.bloop
**/metals.sbt
null

# Visual Studio Code
.vscode

# Docker
docker

# E2E Tests
e2e/node_modules/
e2e/playwright-report/
e2e/test-results/
e2e/.cache/
e2e/package-lock.json
e2e/dist/
