*.class
*.log
*~

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE
.scala_dependencies
.classpath
.project
.cache
.settings

# IntelliJ
.idea/
.idea_modules/

# Metals
.metals
.bloop
**/metals.sbt

# Visual Studio Code
.vscode